<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Steven_RichText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DF241E71DAB90EF006746BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DF242001DAB90EF006746BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DF2420B1DAB90EF006746BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
